 /*backgorund-repeat:repeat x; this will repeat image on x-axis */ 
   /* * is for select all */

   *{
    text-align:center;
}
body{
    background-image:url("Assets/BackgroundImage.jpg");
    background-color:bisque;
    background-repeat:no-repeat;
    background-size: cover;
   /* background-attachment: fixed; */  
}
img{
    border-radius:50%;
    width:25%;
}

p{
    font-family:Lucida Sans;
    color:rgb(232, 94, 8);
    font-size:20px;
    text-align:center;

}
h1{
    color:rgb(210, 20, 239);
}

a{
    color:rgb(204, 25, 25);
}
body{
    background-color:powderblue;
}
.div1{
    /* border:5px solid rgb(11, 128, 211); */
    background-color:rgb(247, 242, 176);
    margin:200px 40px;
    padding:20px;
}

/* .p1{
    border:5px solid rgb(87,90,35);
    border-style:dotted solid;
    background-color:rgb(200, 112, 50);
}
#p2{
    border:5px green;
    border-style:solid dotted solid dotted;
    /* IN clockwise direction,if we define only two parameteers then first will define top and bottom and second parameter define left and right */
    /* background-color:rgb(0, 208, 255);
}
#p3{
    border:5px black solid;
    background-color:rebeccapurple;
} */ 